<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Detach</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>x86_64</string>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>089EC23C6BC5FF40049E6FDA8532F32CA743D22B</string>
				<key>dateExpires</key>
				<string>12/22/25</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>name</key>
			<string>Detach.app</string>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>X3U2KY97YV</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
